<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="users">Xsolla users</a>
    </div>
  </div>
</nav>

<div class="container" ui-view="content"></div>

<footer class="footer">
  <div class="container">
    <p>Some footer xD</p>
    <p>Designed with Bootstrap</p>
  </div>
</footer>