<div class="">
  <h3>User operations</h3>
  <div class="controls">
    <div class="pull-left">
      <a class="btn btn-default btn-sm" ui-sref="users.list"><i class="fa fa-angle-double-left"></i> Back</a>
    </div>
    <div class="pull-right">
      <div class="input-group date-group">
        <input type="datetime" class="form-control input-sm" date-time ng-model="request.datetime_from" min-view="date" format="medium" auto-close="true">
        <input type="datetime" class="form-control input-sm" date-time ng-model="request.datetime_to" min-view="date" format="medium" auto-close="true">
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" type="button" ng-click="getLogs()"><i class="fa fa-check"></i></button>
        </span>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover editable" ng-show="logs.length > 0">
    <thead>
      <tr>
        <th ng-repeat="head in tablehead|filter:{show:true}"
            ng-click="sortTable(head.name)"
            ng-class="{'active' : predicate === head.name, 'reverse' : (reverse && predicate === head.name)}"
            style="{{head.style}}" class="text-center">
          {{head.title}}
          <i class="fa" ng-class="{'fa-angle-down' : (!reverse && predicate === head.name), 'fa-angle-up' : (reverse && predicate === head.name)}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="log in logs|filter:filterFields|orderBy:predicate:reverse">
        <td ng-repeat="col in tablehead|filter:{show:true}">
          {{log[col.name][col.real]||log[col.name]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-12" ng-show="logs.length == 0">Loading...</div>