<div class="">
  <h3>User list</h3>
  <div class="controls">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="createUser();"><i class="fa fa-plus"></i> Create user</button>
    </div>
  </div>
  <table class="table table-bordered table-hover editable" ng-show="total > 0">
    <thead>
      <tr>
        <th ng-repeat="head in tablehead"
            ng-click="sortTable(head.name)"
            ng-class="{'active' : predicate === head.name, 'reverse' : (reverse && predicate === head.name)}"
            style="{{head.style}}" class="text-center">
          {{head.title}}
          <i class="fa" ng-class="{'fa-angle-down' : (!reverse && predicate === head.name), 'fa-angle-up' : (reverse && predicate === head.name)}"></i>
        </th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users| orderBy:predicate:reverse">
        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.user_custom}}</td>
        <td>{{user.email}}</td>
        <td>{{user.register_date}}</td>
        <td>
          <div class="input-group" ng-show="user.editable">
            <input type="number" class="form-control input-sm" ng-model="user.balance">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button" ng-click="editBalance(user)"><i class="fa fa-check"></i></button>
            </span>
          </div>
          <a ng-click='editBalance(user);' ng-show="!user.editable">{{user.balance|currency}}</a>
        </td>
        <td><input type='checkbox' class='checkbox' id='checkbox_{{user.user_id}}' ng-model='user.enabled' />
          <label for='checkbox_{{user.user_id}}' ng-click='lockUser(user);'></label></td>
        <td>
          <button ng-click="editUser(user)" class="btn btn-default btn-sm">Edit</button>
          <a ui-sref="users.logs({ id: user.user_id })" class="btn btn-default btn-sm">Logs</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pull-right" tooltip-placement="left" uib-tooltip="On the Left!">Total users: {{total}}</div>
</div>
<div class="col-md-12" ng-show="total == 0">Loading...</div>