<div class="modal-header">
  <h3 class="modal-title">{{label}} user</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="user_id">User ID</label>
    <input type="text" class="form-control" id="user_id" placeholder="User ID" ng-model="user.user_id">
  </div>
  <div class="form-group">
    <label for="user_name">User name</label>
    <input type="text" class="form-control" id="user_name" placeholder="Name" ng-model="user.user_name">
  </div>
  <div class="form-group">
    <label for="user_custom">Custom</label>
    <input type="text" class="form-control" id="user_custom" placeholder="Custom" ng-model="user.user_custom">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
  </div>
  <div class="form-group">
    <input type='checkbox' class='checkbox' id='enabled' ng-model='user.enabled' />
    <label for='enabled' ng-click="toggleStatus()">User {{status}}</label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>